In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from datetime import date

In [2]:
df_transfers = pd.read_csv('/home/stubbs/Documents/skycatcher/TreasureDAO/df_transfers.csv' 
                          , usecols=['hash', 'from', 'to', 'value', 'rawContract.address', 'metadata.blockTimestamp']
                            , parse_dates=['metadata.blockTimestamp']
                          )
                          
df_transfers

,hash,from,to,value,rawContract.address,metadata.blockTimestamp
0,0x3d7c88327ec852ebf30b59b8ae4e42865e8fc71c057f...,0x0000000000000000000000000000000000000000,0xa4b1838cb086dddafa655f247716b502e87a0672,4.200000,0x539bde0d7dbd336b79148aa742883198bbf60342,2021-10-08 19:02:23+00:00
1,0x67384ced75282bc4cee72708f6e1ec5c577376407fa4...,0x0000000000000000000000000000000000000000,0xa82fcefd303fa68864b787a5f118b09ce5a4c93d,50.000000,0x539bde0d7dbd336b79148aa742883198bbf60342,2021-10-10 10:56:05+00:00
2,0x81b729a1634fb59dcc1a769963f41dc227e1826eeea2...,0x0000000000000000000000000000000000000000,0xe8d46499994f4cf0f80feea5cfc9d9d502985286,2177.000000,0x539bde0d7dbd336b79148aa742883198bbf60342,2021-10-10 11:35:00+00:00
3,0xec1b7b175a2d3a557a234c3a4e744a30010bea996cd1...,0x0000000000000000000000000000000000000000,0x8a83716acd66d9e1fb18c9b79540b72e04f80ac0,1551.848954,0x539bde0d7dbd336b79148aa742883198bbf60342,2021-10-11 11:03:55+00:00
4,0x0ae48d8d59cf9cf85c495fc0d53b79cd347a38411a7d...,0x0000000000000000000000000000000000000000,0x9dcc35ae915926f7f5e8c624254d91f755d55b71,193256.857645,0x539bde0d7dbd336b79148aa742883198bbf60342,2021-10-11 18:20:48+00:00
...,...,...,...,...,...,...
2781995,0xa2ca60ac8063c0b1e1490ac4194332e5999a139adc39...,0x314f0a7bb5ddb4daecece9d3297e00e088713aff,0xb7e50106a5bd3cf21af210a755f9c8740890a8c9,0.500000,0x539bde0d7dbd336b79148aa742883198bbf60342,2022-08-29 08:47:54+00:00
2781996,0xec249a8f5785da118f4f87558e745a054b0e6b454dac...,0xf44f17a6fc5d2f0ad1ff47e682570fa5a8eb9050,0x2546ad279bae9dd46696ec40aa2a95e50a15cfec,0.002000,0x539bde0d7dbd336b79148aa742883198bbf60342,2022-08-29 08:47:54+00:00
2781997,0xa156096235db13ee734ad672e3fb0bb5c234e70ad123...,0x59d72ddb29da32847a4665d08ffc8464a7185fae,0x01d95ff4cf1a446e27eaa0072602e38dc43b702d,0.010000,0x539bde0d7dbd336b79148aa742883198bbf60342,2022-08-29 08:47:54+00:00
2781998,0x9f74024d69887cc4cd67c7f2b2e95e004ae588b0c4bb...,0xafcc50574e437829ff4b809f01197a68690910f0,0xb9c9ed651eb173ca7fbc3a094da9ce33ec145a29,5.000000,0x539bde0d7dbd336b79148aa742883198bbf60342,2022-08-29 08:47:54+00:00
2781999,0xde2484455c782c1858c42198e548e4295a91698d4f52...,0x7e7fb3cceca5f2ac952edf221fd2a9f62e411980,0x5a7744e0f1935ffbfc16f3ece13df8ecd05e25b3,0.001000,0x539bde0d7dbd336b79148aa742883198bbf60342,2022-08-29 08:47:54+00:00

In [3]:
df_transfers.head()

,hash,from,to,value,rawContract.address,metadata.blockTimestamp
0,0x3d7c88327ec852ebf30b59b8ae4e42865e8fc71c057f...,0x0000000000000000000000000000000000000000,0xa4b1838cb086dddafa655f247716b502e87a0672,4.200000,0x539bde0d7dbd336b79148aa742883198bbf60342,2021-10-08 19:02:23+00:00
1,0x67384ced75282bc4cee72708f6e1ec5c577376407fa4...,0x0000000000000000000000000000000000000000,0xa82fcefd303fa68864b787a5f118b09ce5a4c93d,50.000000,0x539bde0d7dbd336b79148aa742883198bbf60342,2021-10-10 10:56:05+00:00
2,0x81b729a1634fb59dcc1a769963f41dc227e1826eeea2...,0x0000000000000000000000000000000000000000,0xe8d46499994f4cf0f80feea5cfc9d9d502985286,2177.000000,0x539bde0d7dbd336b79148aa742883198bbf60342,2021-10-10 11:35:00+00:00
3,0xec1b7b175a2d3a557a234c3a4e744a30010bea996cd1...,0x0000000000000000000000000000000000000000,0x8a83716acd66d9e1fb18c9b79540b72e04f80ac0,1551.848954,0x539bde0d7dbd336b79148aa742883198bbf60342,2021-10-11 11:03:55+00:00
4,0x0ae48d8d59cf9cf85c495fc0d53b79cd347a38411a7d...,0x0000000000000000000000000000000000000000,0x9dcc35ae915926f7f5e8c624254d91f755d55b71,193256.857645,0x539bde0d7dbd336b79148aa742883198bbf60342,2021-10-11 18:20:48+00:00

In [4]:
df_transfers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2782000 entries, 0 to 2781999
Data columns (total 6 columns):
 #   Column                   Dtype
---  ------                   -----
 0   hash                     object
 1   from                     object
 2   to                       object
 3   value                    float64
 4   rawContract.address      object
 5   metadata.blockTimestamp  datetime64[ns, UTC]
dtypes: datetime64[ns, UTC](1), float64(1), object(4)
memory usage: 127.3+ MB

In [5]:
df_transfers_out = df_transfers[['hash', 'from', 'value', 'metadata.blockTimestamp']].copy()
df_transfers_out['value'] = df_transfers_out['value'].apply(lambda x: -1.0* x)
df_transfers_out.rename(columns = {'hash': 'tx_hash', 'from':'address', 'value':'amount', 'metadata.blockTimestamp':'tx_timestamp'}, inplace=True)
df_transfers_out.head()

,tx_hash,address,amount,tx_timestamp
0,0x3d7c88327ec852ebf30b59b8ae4e42865e8fc71c057f...,0x0000000000000000000000000000000000000000,-4.200000,2021-10-08 19:02:23+00:00
1,0x67384ced75282bc4cee72708f6e1ec5c577376407fa4...,0x0000000000000000000000000000000000000000,-50.000000,2021-10-10 10:56:05+00:00
2,0x81b729a1634fb59dcc1a769963f41dc227e1826eeea2...,0x0000000000000000000000000000000000000000,-2177.000000,2021-10-10 11:35:00+00:00
3,0xec1b7b175a2d3a557a234c3a4e744a30010bea996cd1...,0x0000000000000000000000000000000000000000,-1551.848954,2021-10-11 11:03:55+00:00
4,0x0ae48d8d59cf9cf85c495fc0d53b79cd347a38411a7d...,0x0000000000000000000000000000000000000000,-193256.857645,2021-10-11 18:20:48+00:00

In [6]:
df_transfers_in = df_transfers[['hash', 'to', 'value', 'metadata.blockTimestamp']].copy()
df_transfers_in.rename(columns = {'hash': 'tx_hash', 'to':'address', 'value':'amount', 'metadata.blockTimestamp':'tx_timestamp'}, inplace=True)
df_transfers_in.head()

,tx_hash,address,amount,tx_timestamp
0,0x3d7c88327ec852ebf30b59b8ae4e42865e8fc71c057f...,0xa4b1838cb086dddafa655f247716b502e87a0672,4.200000,2021-10-08 19:02:23+00:00
1,0x67384ced75282bc4cee72708f6e1ec5c577376407fa4...,0xa82fcefd303fa68864b787a5f118b09ce5a4c93d,50.000000,2021-10-10 10:56:05+00:00
2,0x81b729a1634fb59dcc1a769963f41dc227e1826eeea2...,0xe8d46499994f4cf0f80feea5cfc9d9d502985286,2177.000000,2021-10-10 11:35:00+00:00
3,0xec1b7b175a2d3a557a234c3a4e744a30010bea996cd1...,0x8a83716acd66d9e1fb18c9b79540b72e04f80ac0,1551.848954,2021-10-11 11:03:55+00:00
4,0x0ae48d8d59cf9cf85c495fc0d53b79cd347a38411a7d...,0x9dcc35ae915926f7f5e8c624254d91f755d55b71,193256.857645,2021-10-11 18:20:48+00:00

In [7]:
# transfer_in_n_out = pd.concat([df_transfers_in.head(), df_transfers_out.head()], axis=0)
transfer_in_n_out=pd.concat([df_transfers_in, df_transfers_out], axis=0)
transfer_in_n_out['date'] = pd.to_datetime(transfer_in_n_out['tx_timestamp'].apply(lambda x:x.date()))
transfer_in_n_out

,tx_hash,address,amount,tx_timestamp,date
0,0x3d7c88327ec852ebf30b59b8ae4e42865e8fc71c057f...,0xa4b1838cb086dddafa655f247716b502e87a0672,4.200000,2021-10-08 19:02:23+00:00,2021-10-08
1,0x67384ced75282bc4cee72708f6e1ec5c577376407fa4...,0xa82fcefd303fa68864b787a5f118b09ce5a4c93d,50.000000,2021-10-10 10:56:05+00:00,2021-10-10
2,0x81b729a1634fb59dcc1a769963f41dc227e1826eeea2...,0xe8d46499994f4cf0f80feea5cfc9d9d502985286,2177.000000,2021-10-10 11:35:00+00:00,2021-10-10
3,0xec1b7b175a2d3a557a234c3a4e744a30010bea996cd1...,0x8a83716acd66d9e1fb18c9b79540b72e04f80ac0,1551.848954,2021-10-11 11:03:55+00:00,2021-10-11
4,0x0ae48d8d59cf9cf85c495fc0d53b79cd347a38411a7d...,0x9dcc35ae915926f7f5e8c624254d91f755d55b71,193256.857645,2021-10-11 18:20:48+00:00,2021-10-11
...,...,...,...,...,...
2781995,0xa2ca60ac8063c0b1e1490ac4194332e5999a139adc39...,0x314f0a7bb5ddb4daecece9d3297e00e088713aff,-0.500000,2022-08-29 08:47:54+00:00,2022-08-29
2781996,0xec249a8f5785da118f4f87558e745a054b0e6b454dac...,0xf44f17a6fc5d2f0ad1ff47e682570fa5a8eb9050,-0.002000,2022-08-29 08:47:54+00:00,2022-08-29
2781997,0xa156096235db13ee734ad672e3fb0bb5c234e70ad123...,0x59d72ddb29da32847a4665d08ffc8464a7185fae,-0.010000,2022-08-29 08:47:54+00:00,2022-08-29
2781998,0x9f74024d69887cc4cd67c7f2b2e95e004ae588b0c4bb...,0xafcc50574e437829ff4b809f01197a68690910f0,-5.000000,2022-08-29 08:47:54+00:00,2022-08-29
2781999,0xde2484455c782c1858c42198e548e4295a91698d4f52...,0x7e7fb3cceca5f2ac952edf221fd2a9f62e411980,-0.001000,2022-08-29 08:47:54+00:00,2022-08-29

In [8]:
transfers_all = transfer_in_n_out[['date', 'address', 'amount']]

In [9]:
start_day = pd.to_datetime(transfer_in_n_out['tx_timestamp'].dt.date).min()
end_day = pd.to_datetime(transfer_in_n_out['tx_timestamp'].dt.date).max()
# days = transfer_in_n_out

# print(start_day, end_day)
date_range = pd.DataFrame(pd.date_range(start_day, end_day, inclusive="both"))
date_range['key'] = 1

In [10]:
#Get all the wallets
wallets = pd.DataFrame(transfer_in_n_out['address'].unique())
wallets['key'] = 1
wallets

                                                 0  key
0       0xa4b1838cb086dddafa655f247716b502e87a0672    1
1       0xa82fcefd303fa68864b787a5f118b09ce5a4c93d    1
2       0xe8d46499994f4cf0f80feea5cfc9d9d502985286    1
3       0x8a83716acd66d9e1fb18c9b79540b72e04f80ac0    1
4       0x9dcc35ae915926f7f5e8c624254d91f755d55b71    1
...                                            ...  ...
109618  0x37d6b26afb03d87b68a1f7f0994d8e9dec16dc48    1
109619  0x8c2de6d43f26c479871de1c9bf7e4d683f79fa6e    1
109620  0xf68136142ba1702be2e690864f6b3cfce11ad418    1
109621  0x515c27dd10d117783346c020bdfef6f3081b2cb3    1
109622  0xa7f7b336225c8597ed085ef47724fa7a0fc7b290    1

[109623 rows x 2 columns]

In [11]:
date_range

             0  key
0   2021-10-08    1
1   2021-10-09    1
2   2021-10-10    1
3   2021-10-11    1
4   2021-10-12    1
..         ...  ...
321 2022-08-25    1
322 2022-08-26    1
323 2022-08-27    1
324 2022-08-28    1
325 2022-08-29    1

[326 rows x 2 columns]

In [12]:
wallets_all_days=pd.merge(wallets, date_range, how='outer', on='key').drop(columns=['key']).rename(columns={'0_x':'wallet_address', '0_y':'date'})
wallets_all_days

                                      wallet_address       date
0         0xa4b1838cb086dddafa655f247716b502e87a0672 2021-10-08
1         0xa4b1838cb086dddafa655f247716b502e87a0672 2021-10-09
2         0xa4b1838cb086dddafa655f247716b502e87a0672 2021-10-10
3         0xa4b1838cb086dddafa655f247716b502e87a0672 2021-10-11
4         0xa4b1838cb086dddafa655f247716b502e87a0672 2021-10-12
...                                              ...        ...
35737093  0xa7f7b336225c8597ed085ef47724fa7a0fc7b290 2022-08-25
35737094  0xa7f7b336225c8597ed085ef47724fa7a0fc7b290 2022-08-26
35737095  0xa7f7b336225c8597ed085ef47724fa7a0fc7b290 2022-08-27
35737096  0xa7f7b336225c8597ed085ef47724fa7a0fc7b290 2022-08-28
35737097  0xa7f7b336225c8597ed085ef47724fa7a0fc7b290 2022-08-29

[35737098 rows x 2 columns]

In [13]:
wallets_all_days[wallets_all_days['wallet_address'] == str.lower('0xB7E50106A5bd3Cf21AF210A755F9C8740890A8c9')]

                                  wallet_address       date
8802  0xb7e50106a5bd3cf21af210a755f9c8740890a8c9 2021-10-08
8803  0xb7e50106a5bd3cf21af210a755f9c8740890a8c9 2021-10-09
8804  0xb7e50106a5bd3cf21af210a755f9c8740890a8c9 2021-10-10
8805  0xb7e50106a5bd3cf21af210a755f9c8740890a8c9 2021-10-11
8806  0xb7e50106a5bd3cf21af210a755f9c8740890a8c9 2021-10-12
...                                          ...        ...
9123  0xb7e50106a5bd3cf21af210a755f9c8740890a8c9 2022-08-25
9124  0xb7e50106a5bd3cf21af210a755f9c8740890a8c9 2022-08-26
9125  0xb7e50106a5bd3cf21af210a755f9c8740890a8c9 2022-08-27
9126  0xb7e50106a5bd3cf21af210a755f9c8740890a8c9 2022-08-28
9127  0xb7e50106a5bd3cf21af210a755f9c8740890a8c9 2022-08-29

[326 rows x 2 columns]

In [14]:
wallets_all_days.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 35737098 entries, 0 to 35737097
Data columns (total 2 columns):
 #   Column          Dtype
---  ------          -----
 0   wallet_address  object
 1   date            datetime64[ns]
dtypes: datetime64[ns](1), object(1)
memory usage: 818.0+ MB

In [15]:
transfer_in_n_out.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5564000 entries, 0 to 2781999
Data columns (total 5 columns):
 #   Column        Dtype
---  ------        -----
 0   tx_hash       object
 1   address       object
 2   amount        float64
 3   tx_timestamp  datetime64[ns, UTC]
 4   date          datetime64[ns]
dtypes: datetime64[ns, UTC](1), datetime64[ns](1), float64(1), object(2)
memory usage: 254.7+ MB

In [16]:
# wallet_all_days_n_changes = wallets_all_days[['date', 'wallet_address']].merge(transfer_in_n_out, how='left', left_on=['wallet_address', 'date'], right_on=['address', 'date']).drop(columns=['address']).fillna(0)
# wallet_all_days_n_changes

In [17]:
wallet_all_days_n_changes = wallets_all_days[['date', 'wallet_address']].merge(transfers_all, how='left', left_on=['date', 'wallet_address'], right_on=['date', 'address']).drop(columns=['address']).fillna(0)

wallet_all_days_n_changes

               date                              wallet_address  amount
0        2021-10-08  0xa4b1838cb086dddafa655f247716b502e87a0672     4.2
1        2021-10-09  0xa4b1838cb086dddafa655f247716b502e87a0672     0.0
2        2021-10-10  0xa4b1838cb086dddafa655f247716b502e87a0672     0.0
3        2021-10-11  0xa4b1838cb086dddafa655f247716b502e87a0672     0.0
4        2021-10-12  0xa4b1838cb086dddafa655f247716b502e87a0672     0.0
...             ...                                         ...     ...
40768630 2022-08-25  0xa7f7b336225c8597ed085ef47724fa7a0fc7b290     0.0
40768631 2022-08-26  0xa7f7b336225c8597ed085ef47724fa7a0fc7b290     0.0
40768632 2022-08-27  0xa7f7b336225c8597ed085ef47724fa7a0fc7b290     0.0
40768633 2022-08-28  0xa7f7b336225c8597ed085ef47724fa7a0fc7b290     0.0
40768634 2022-08-29  0xa7f7b336225c8597ed085ef47724fa7a0fc7b290     0.0

[40768635 rows x 3 columns]

In [18]:
wallet_all_days_n_changes[wallet_all_days_n_changes['wallet_address']==str.lower('0xB7E50106A5bd3Cf21AF210A755F9C8740890A8c9')]

             date                              wallet_address      amount
59944  2021-10-08  0xb7e50106a5bd3cf21af210a755f9c8740890a8c9    0.000000
59945  2021-10-09  0xb7e50106a5bd3cf21af210a755f9c8740890a8c9    0.000000
59946  2021-10-10  0xb7e50106a5bd3cf21af210a755f9c8740890a8c9    0.000000
59947  2021-10-11  0xb7e50106a5bd3cf21af210a755f9c8740890a8c9    0.000000
59948  2021-10-12  0xb7e50106a5bd3cf21af210a755f9c8740890a8c9    0.000000
...           ...                                         ...         ...
463631 2022-08-29  0xb7e50106a5bd3cf21af210a755f9c8740890a8c9   -0.001000
463632 2022-08-29  0xb7e50106a5bd3cf21af210a755f9c8740890a8c9   -0.001000
463633 2022-08-29  0xb7e50106a5bd3cf21af210a755f9c8740890a8c9   -0.001000
463634 2022-08-29  0xb7e50106a5bd3cf21af210a755f9c8740890a8c9 -217.470321
463635 2022-08-29  0xb7e50106a5bd3cf21af210a755f9c8740890a8c9   -4.518705

[403692 rows x 3 columns]

In [19]:
# wallet_all_days_n_changes['amount']=wallet_all_days_n_changes['amount']
wallet_all_days_n_changes.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 40768635 entries, 0 to 40768634
Data columns (total 3 columns):
 #   Column          Dtype
---  ------          -----
 0   date            datetime64[ns]
 1   wallet_address  object
 2   amount          float64
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 1.2+ GB

This is too large if we have all wallet -- split into two dataframe to process and then join them.

In [20]:
import math
len_wallet_mid = round(len(wallets)/2)
len_wallet = len(wallets)

wallets1 = wallets[0:len_wallet_mid-1][0].to_list()
wallets2 = wallets[len_wallet_mid: len_wallet-1][0].to_list()

wallet_list = [wallets1, wallets2]

In [21]:
print(wallets1[0], wallets1[-1])
print(wallets2[0], wallets2[-1])

print(len(pd.unique(wallets1)))
print(len(pd.unique(wallets2)))

0xa4b1838cb086dddafa655f247716b502e87a0672 0x99fd94f0ab556a7424cfbc859632a2561261bc0f
0xafd9a39b5ee3edba2dca3fc2ea2fd1cd94b784b9 0x515c27dd10d117783346c020bdfef6f3081b2cb3
54811
54810

In [22]:
wallet_bals = wallet_all_days_n_changes.sort_values('date', ascending=True)

wallet_bals1 = wallet_bals[wallet_bals['wallet_address'].isin(wallets1)]
wallet_bals2 = wallet_bals[wallet_bals['wallet_address'].isin(wallets2)]

wallet_bals1_sum = wallet_bals1.groupby(by=['date', 'wallet_address'])['amount'].sum().reset_index()
wallet_bals2_sum = wallet_bals2.groupby(by=['date', 'wallet_address'])['amount'].sum().reset_index()

# wallet_bals = pd.concat([wallet_bals1, wallet_bals2], axis=0)
    

# wallet_bals['net_change'] = wallet_bals.groupby(by=['date','wallet_address'])['amount'].sum().reset_index()
# wallet_all_days_n_changes['cumsum'] = wallet_all_days_n_changes.groupby(['date','wallet_address'])['net_change'].cumsum()
# wallet_bals

In [23]:
wallet_bals1_sum['cumsum'] = wallet_bals1_sum.groupby(['wallet_address'])['amount'].cumsum()
wallet_bals2_sum['cumsum'] = wallet_bals2_sum.groupby(['wallet_address'])['amount'].cumsum()
wallet_bals = pd.concat([wallet_bals1_sum, wallet_bals2_sum], axis=0)
wallet_bals = wallet_bals[wallet_bals['cumsum']>=5].sort_values(by=['date', 'cumsum'], ascending=[False, False])
wallet_bals.to_csv(f'{date.today()}_balances_by_day.csv')

In [24]:
# wallet_bals.head(35)
wallet_bals.head(20)
wallet_bals[wallet_bals['wallet_address'] == str.lower('0xB7E50106A5bd3Cf21AF210A755F9C8740890A8c9')]

,date,wallet_address,amount,cumsum
17852848,2022-08-29,0xb7e50106a5bd3cf21af210a755f9c8740890a8c9,-1.039404e+05,1.004872e+07
17798037,2022-08-28,0xb7e50106a5bd3cf21af210a755f9c8740890a8c9,2.175094e+05,1.015266e+07
17743226,2022-08-27,0xb7e50106a5bd3cf21af210a755f9c8740890a8c9,-2.933816e+05,9.935153e+06
17688415,2022-08-26,0xb7e50106a5bd3cf21af210a755f9c8740890a8c9,5.872489e+05,1.022853e+07
17633604,2022-08-25,0xb7e50106a5bd3cf21af210a755f9c8740890a8c9,2.055487e+05,9.641285e+06
...,...,...,...,...
642194,2021-10-19,0xb7e50106a5bd3cf21af210a755f9c8740890a8c9,1.552013e+03,1.652349e+03
587383,2021-10-18,0xb7e50106a5bd3cf21af210a755f9c8740890a8c9,0.000000e+00,1.003356e+02
532572,2021-10-17,0xb7e50106a5bd3cf21af210a755f9c8740890a8c9,4.547474e-13,1.003356e+02
477761,2021-10-16,0xb7e50106a5bd3cf21af210a755f9c8740890a8c9,5.033557e+01,1.003356e+02
422950,2021-10-15,0xb7e50106a5bd3cf21af210a755f9c8740890a8c9,5.000000e+01,5.000000e+01

In [44]:
wallet_bals2_sum.head(35)

         date                              wallet_address  amount
0  2021-10-08  0x000000000000000000000000000000000000dead     0.0
1  2021-10-08  0x00000000000be4d9faacf7f669f25118b1736666     0.0
2  2021-10-08  0x00000000009726632680fb29d3f7a9734e3010e2     0.0
3  2021-10-08  0x0000000000dfa724d4232675d9fa6c3f4945dccc     0.0
4  2021-10-08  0x00000000cc0b822819f03424dacf9077fdaa58a3     0.0
5  2021-10-08  0x00000002f32c0886ee65d68059fbdb76ef6a6996     0.0
6  2021-10-08  0x0000000b4d325bb539676dac6ec3413d5974cf0f     0.0
7  2021-10-08  0x00000037d496b5ea3436e6a4d65026cf13021f19     0.0
8  2021-10-08  0x00000064001a7df8875e24c804b119e72b72eb7c     0.0
9  2021-10-08  0x0000014ffa35ed6ad0d5c9c079c908716c113eb8     0.0
10 2021-10-08  0x000018a882fc00df5aebe9169ff03d6a3943145b     0.0
11 2021-10-08  0x000026b2da088fc2c145e7e9d93d0284218a7777     0.0
12 2021-10-08  0x00002888686a979808a0126f7f8a266f0e83c5df     0.0
13 2021-10-08  0x0000374e9e25713e7303c63746f4863c7e73b91f     0.0
14 2021-10-08  0x00006ac96cdb98e907ba8aa418f0aa0c7e46afe7     0.0
15 2021-10-08  0x0000b28d481fe8a891f9a3ee4e931e5dd5e07b0b     0.0
16 2021-10-08  0x0000b349b786767c70fe4f514e264b8582a7953b     0.0
17 2021-10-08  0x0000be2a6fba748a5b684ec0c2f8b53971c5cf7b     0.0
18 2021-10-08  0x0000ce08fa224696a819877070bf378e8b131acf     0.0
19 2021-10-08  0x0001c55d6d0720770b9ecf5f5446bcd5c536b740     0.0
20 2021-10-08  0x0001f898c4763a7a0444d91600f00c7eec586b90     0.0
21 2021-10-08  0x000308534d7748d1168785c404f082527d235133     0.0
22 2021-10-08  0x00041f83818286276bd5a7507088b7c4dff1c5a4     0.0
23 2021-10-08  0x000446d54925698ae48172facf20fb55a19a492f     0.0
24 2021-10-08  0x000566b53e028d21e104e4320de61c2314ef4064     0.0
25 2021-10-08  0x0006e488a82b3048906907b93544ca30075b0f53     0.0
26 2021-10-08  0x0008327c7fea53e850a259ca5d6868ac22c07545     0.0
27 2021-10-08  0x00084e078b6aa79aa5254b81bbbafd3720ffcbfc     0.0
28 2021-10-08  0x000870277ac75f5501d25d9b84d7fc1cee10d418     0.0
29 2021-10-08  0x000872be5ec7dc8197ef6618ef507d9a449cac1a     0.0
30 2021-10-08  0x0008906ca2e1d42dfb6bbcda7f9b709a0cfa8dfc     0.0
31 2021-10-08  0x0009182a50362255303439084444465bfb4f5a82     0.0
32 2021-10-08  0x000948bee22729c277b213e6840cfc2b992bad14     0.0
33 2021-10-08  0x000a303fdb64069f919f8708f23060e0b8668d44     0.0
34 2021-10-08  0x000a942c8e294ef24888bd00b01a7dfdc907f5b8     0.0

In [ ]:
wallet_all_days_n_changes = wallet_all_days_n_changes[wallet_all_days_n_changes['cumsum'] > 10.0]
wallet_all_days_n_changes.to_csv(f'{date.today()}_balances_by_day1.csv')

In [ ]:
wallet_all_days_n_changes[wallet_all_days_n_changes['wallet_address']=='0xb7e50106a5bd3cf21af210a755f9c8740890a8c9']

In [20]:
wallet_all_days_n_changes_condensed = wallet_all_days_n_changes[['date', 'wallet_address', 'amount', 'cumsum']].copy()
wallet_all_days_n_changes_condensed = wallet_all_days_n_changes_condensed[wallet_all_days_n_changes_condensed['cumsum'] > 10]
# wallet_all_days_n_changes_condensed.to_csv(f'{date.today()}_balances_by_day.csv')
wallet_all_days_n_changes_condensed.to_csv(f'{date.today()}_balances_by_day.csv')

In [33]:
wallet_all_days_n_changes_condensed[wallet_all_days_n_changes_condensed['wallet_address']=='0xa4b1838cb086dddafa655f247716b502e87a0672']

        date                              wallet_address  amount  cumsum
0 2021-10-08  0xa4b1838cb086dddafa655f247716b502e87a0672     4.2     4.2

In [21]:
wallet_all_days_n_changes_condensed.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8596572 entries, 328 to 12691925
Data columns (total 4 columns):
 #   Column          Dtype
---  ------          -----
 0   date            datetime64[ns]
 1   wallet_address  object
 2   amount          float64
 3   cumsum          float64
dtypes: datetime64[ns](1), float64(2), object(1)
memory usage: 327.9+ MB

In [20]:
holders_per_day = wallet_all_days_n_changes_condensed.groupby('date')['wallet_address'].count()
holders_per_day

date
2021-10-08        1
2021-10-09        1
2021-10-10        3
2021-10-11        5
2021-10-12        7
              ...
2022-08-25    57010
2022-08-26    53665
2022-08-27    52653
2022-08-28    58438
2022-08-29    47910
Name: wallet_address, Length: 326, dtype: int64

In [25]:
# wallet_bal_n_net_change=wallet_all_days_n_changes[(wallet_all_days_n_changes['wallet_address'] != '0x0000000000000000000000000000000000000000') & (wallet_all_days_n_changes['cumsum'] > 1)]
# wallet_bal_n_net_change=wallet_bal_n_net_change[['date', 'wallet_address', 'amount']].groupby(['date', 'wallet_address'])['amount'].sum().reset_index()
# wallet_bal_n_net_change['cumsum']=wallet_bal_n_net_change.groupby(['date','wallet_address'])['amount'].cumsum()
# # wallet_bal_n_net_change
# wallet_bal_n_net_change

In [26]:
# wallet_bal_n_net_change1=wallet_bal_n_net_change[['date', 'wallet_address', 'amount']].groupby(['date', 'wallet_address'])['amount'].sum().reset_index()

# wallet_bal_n_net_change.tail(40)

              date                              wallet_address  amount  cumsum
7379681 2022-08-29  0xffc21269d65cc460978c7b9e3474c7d831ee3cbb     0.0     0.0
7379682 2022-08-29  0xffc57ab280cb8d1e47e11ce225f113612cff3d8e     0.0     0.0
7379683 2022-08-29  0xffc5d1b80aea3860d9dd80dd9ab3794f5f701432     0.0     0.0
7379684 2022-08-29  0xffc8c5b5c1c50acd7df8484585761d0111fb4123     0.0     0.0
7379685 2022-08-29  0xffce05977d9bbb31a2afeb10980f7e35247d1121     0.0     0.0
7379686 2022-08-29  0xffcede1ec864f7f3811756a2989bfd5c7203e547     0.0     0.0
7379687 2022-08-29  0xffcef28629bcb2d00218d2abac2f3ddcc6f423e5     0.0     0.0
7379688 2022-08-29  0xffd2df7ba9a04672933748dc86ce71f131ff4d50     0.0     0.0
7379689 2022-08-29  0xffd89043d922750133c229848bb7b5b35f8e751a     0.0     0.0
7379690 2022-08-29  0xffd92191808fcf707b5b203ddae891aee95f8be6     0.0     0.0
7379691 2022-08-29  0xffdd540346b3a999255f7a3cc040f430e5b99ca8     0.0     0.0
7379692 2022-08-29  0xffde835eea127d07fdeb47f5b125ee80e07280f3     0.0     0.0
7379693 2022-08-29  0xffdf3ecbcb89a19870e251dce10f417908a65fb1     0.0     0.0
7379694 2022-08-29  0xffe0252a1ad68afc8e7b036ee1747cc3596248f2     0.0     0.0
7379695 2022-08-29  0xffe04c48af66f0d7a6b3e07f17e71e834040aa7f     0.0     0.0
7379696 2022-08-29  0xffe11091221459fa81c7a368a00b8d2cd2c3cfbd     0.0     0.0
7379697 2022-08-29  0xffe26302b49ab7df4ec05e70a01de31bb32ef09f     0.0     0.0
7379698 2022-08-29  0xffe3d114e4439adec76b6617129a5ac5d51bf15e     0.0     0.0
7379699 2022-08-29  0xffe3e5147929b8b9b129489463381dce6626eb05     0.0     0.0
7379700 2022-08-29  0xffe4261a55f4d5ae916d1130ce4d9132f9adb262     0.0     0.0
7379701 2022-08-29  0xffe62622808840fb235c29a09f11c89993bbe892     0.0     0.0
7379702 2022-08-29  0xffe953af50e8e54bbfa03ae59fa63149c99113a9     0.0     0.0
7379703 2022-08-29  0xffec26c4ff03bbaf5119b797595f7e73062cbd98     0.0     0.0
7379704 2022-08-29  0xffeccc607ccc708f4ed224e00c9f3bd33acc8d38     0.0     0.0
7379705 2022-08-29  0xffece792c5cade47b45d9d7eba0794ccb315954d     0.0     0.0
7379706 2022-08-29  0xffef5c967796c3fe447b0a6764c60e889d547c8f     0.0     0.0
7379707 2022-08-29  0xfff0366e874d45559e4deb0cc5d1d8103eda667d     0.0     0.0
7379708 2022-08-29  0xfff384ad1ca11a9990f448ecb5af1808d13387a4     0.0     0.0
7379709 2022-08-29  0xfff39ecb826261def51785b0ce6f24cb6792ee73     0.0     0.0
7379710 2022-08-29  0xfff4da66c6561325d94beafd04c0957f3bfffcf7     0.0     0.0
7379711 2022-08-29  0xfff5b39356da493bdaf3602f48b20112708d7369     0.0     0.0
7379712 2022-08-29  0xfff6b41a29881fc97bd6e8778529b1e37597d94a     0.0     0.0
7379713 2022-08-29  0xfff6cca12d16d2788ce2dbdfe40b7b4ff87a68b3     0.0     0.0
7379714 2022-08-29  0xfff813069cb117d1111d477e7d232858975752e7     0.0     0.0
7379715 2022-08-29  0xfffb264bf1275e5ccb5444366a782eb89045515c     0.0     0.0
7379716 2022-08-29  0xfffba8d8dd8733e3e1dfa406a642db013a72046c     0.0     0.0
7379717 2022-08-29  0xfffd377f3be1b4cfe568276f631d899e5c27f00f     0.0     0.0
7379718 2022-08-29  0xfffd846060550629a4f00635c608711b1dc98ef3     0.0     0.0
7379719 2022-08-29  0xfffe939c904abd3c7c687f5875b052d4efd93e5b     0.0     0.0
7379720 2022-08-29  0xffff30cccea52ee7e0936a620df3e7be5b546ebb     0.0     0.0

In [23]:
# wallet_bal_n_net_change1['cumsum']=wallet_bal_n_net_change1.groupby('wallet_address')['amount'].cumsum()
# wallet_bal_n_net_change1

NameError: name 'wallet_bal_n_net_change1' is not defined

In [ ]:
wallet_bal_n_net_change

In [ ]:
mints_burns = wallet_all_days_n_changes[wallet_all_days_n_changes['wallet_address'] == '0x0000000000000000000000000000000000000000'].copy()
# mints_burns['amount'] = mints_burns['amount'].apply(lambda x: abs(x))
# mints_burns_grp = mints_burns.groupby('date')[['amount', 'cumsum']].sum()
mints_burns

In [ ]:
mints_burns_grp=mints_burns[['date', 'amount']].copy()
mints_burns_grp = mints_burns_grp.groupby('date').agg({'amount':'sum'})
mints_burns_grp['cumsum'] = mints_burns_grp['amount'].cumsum()
mints_burns_grp

In [ ]:
mints_burns_grp.to_csv(f'{date.today()}_supply_over_time.csv')

In [ ]:
total_supply = abs(mints_burns_grp['cumsum'].min())
total_supply

In [ ]:
plt.plot(mints_burns_grp.index, mints_burns_grp['cumsum'])

In [ ]:
plt.plot(holders_per_day)

In [ ]:
today = date.today()
print(today)

In [30]:
df =pd.read_csv('/home/stubbs/Documents/skycatcher/TreasureDAO/legion_holders_by_day.csv')
df=df[df['address']!='0x0000000000000000000000000000000000000000']
df = df[['date', 'cumsum']]
df = df.groupby('date')['cumsum'].sum().reset_index()
df

           date   cumsum
0    2022-01-25    142.0
1    2022-01-26   3285.0
2    2022-01-27   3637.0
3    2022-01-28   3771.0
4    2022-01-29   3851.0
..          ...      ...
206  2022-08-19  36430.0
207  2022-08-20  36432.0
208  2022-08-21  36444.0
209  2022-08-22  36467.0
210  2022-08-23  36469.0

[211 rows x 2 columns]